*{
    margin: 0;
    padding: 0;
    font-family: 'Keep Calm';
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    margin: auto;
    width: 250px;
    height: 250px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: rgb(255, 255, 255);
    display: flex;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    transition: all .4s;
}
.card img{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    cursor: pointer;
    z-index: 10;
    transition: all .4s;
}
.card:hover img{
    margin-top: -30px;
}
.card:hover{
    width: 265px;
}
.card::before{
    content: 'ILHAM YUDIATMOKO';
    position: absolute;
    bottom: 5px;
    color: rgb(0, 0, 0);
    font-family: 'JetBrains Mono';
    font-weight: 900;
}
footer{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.iam{
    font-weight: 00;
    color: #0a3d62;
    font-size: 60px;
    padding: 15px;
}
.text{
    margin-left: 1px;
    font-weight: 500;
    color: #f6b93b;
    border-right: 2px solid #f6b93b;
    font-size: 60px;

}
