@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: rgb(238,174,202);
    background: linear-gradient(45deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.card{
    width: 250px;
    height: 250px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: rgb(255, 255, 255);
    display: flex;
    border-radius: 20px;
    justify-content: center;
    position: absolute;
    transition: all .4s;
}
.card img{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    cursor: pointer;
    z-index: 10;
    transition: all .4s;
}
.card:hover img{
    margin-top: -30px;
}
.card:hover{
    width: 265px;
}
.card::before{
    content: 'Ilham Yudiatmoko';
    position: absolute;
    bottom: 4px;
    color: #0a3d62;
    font-weight: 700;
}
.iam{
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    font-weight: 700;
    color: #ffffff;
    font-size: 60px;
    padding: 15px;
}
.text{
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    margin-left: 1px;
    font-weight: 700;
    color: #0a3d62;
    border-right: 2px solid #0a3d62;
    font-size: 60px;
    
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 9cm;
    position: absolute;
}
